if SHIELD_ROBA_R

config ZMK_KEYBOARD_NAME
    default "roBa_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ROBA_L

config ZMK_KEYBOARD_NAME
    default "roBa_L"

config ZMK_SPLIT
    default y

endif

config ZMK_STATUS_ADV_ACTIVE_INTERVAL_MS
    int "Status advertising active interval (ms)"
    default 100

config ZMK_STATUS_ADV_IDLE_INTERVAL_MS
    int "Status advertising idle interval (ms)"
    default 30000
